body{
    margin: 0%;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}
code
{
    font-family: 'Courier New', Courier, monospace;
    
}

.nav-link
{
    margin-left: 50px;
}

#supportHero{
    background-color:rgb(56,126,209);
    color: white;
}

#supoortWrapper{
   display: flex;
    justify-content: space-between;
    margin: 0 150px;
}